<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="starter-template row">
  <div class="col-sm-6">
    <mat-card>
      <mat-card-title>Execute</mat-card-title>
      <mat-card-content>
        <div>
          <div class="main-form-container">
            <mat-form-field>
            <textarea spellcheck="false" matInput placeholder="Type query here" matTextareaAutosize
                      matAutosizeMinRows="2"
                      matAutosizeMaxRows="5" [(ngModel)]="queryTextModel.query"></textarea>
            </mat-form-field>

            <mat-form-field>
              <textarea spellcheck="false" matInput placeholder="Columns"
                        [(ngModel)]="queryTextModel.columns"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Datasource" [(ngModel)]="queryTextModel.datastore_id">
                <mat-option *ngFor="let db of datastores" value={{db.id}}>
                  {{db.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="mt-2">
              <button mat-button class="btn float-right"
                      (click)="saveQueryPopup($event, queryTextModel)">Save
              </button>

              <button mat-button class="btn-primary float-right"
                      (click)="runQuery($event, queryTextModel)">Run
              </button>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6">
    <mat-card>
      <mat-card-title>Search</mat-card-title>
      <mat-card-content>
        <app-query-search></app-query-search>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-data-explorer></app-data-explorer>
