<div class="container-fluid callisto-container" style="margin-top: 20px">
  <div class="row mb-2">
    <div class="col-sm-3">
      <b>Datastores</b>
    </div>
    <div class="col-sm-9">
      <button mat-stroked-button class="float-right" (click)="navigateToNewDatastore()" color="primary">
        Add/update datastores
      </button>
    </div>
  </div>

<table class="table table-striped">
  <tbody *ngFor = "let datastore of datastores">
  <tr>
    <td>{{datastore.id}}</td>
    <td>{{datastore.name}}</td>
  </tr>
  </tbody>
</table>
</div>
