<div class="main-form-container">
  <mat-form-field>
    <input type="text" [(ngModel)]="queryId" placeholder="Query Id" matInput
           [formControl]="queryIdField" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="queryIdSelected($event)">
    <mat-option *ngFor="let queryId of resultQueryList" [value]="queryId">
      {{ queryId }}
    </mat-option>
  </mat-autocomplete>

  <div *ngIf="queryText != undefined">
    <pre>
      <code>{{queryText | json}}</code>
    </pre>

    <div class="mt-4">
      <a aria-label="Populate" class="action-btn">
        <mat-icon class="float-right ml-3" aria-hidden="true" (click)="emitQueryText($event)"
                  matTooltipPosition="above" matTooltip="Populate">done</mat-icon>
      </a>
      <a aria-label="Edit" class="action-btn">
        <mat-icon class="float-right" aria-hidden="true"
                  matTooltipPosition="above" matTooltip="Edit">mode_edit</mat-icon>
      </a>
    </div>
  </div>

</div>