/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.starter-template {
    padding: 2rem 1.5rem;
}

.main-form-container {
    display: flex;
    flex-direction: column;
}

.main-form-container .float-right-item {
    align-self: flex-end;
}

.main-form-container > * {
    width: 100%;
}
