<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-cyan scrolling-navbar"
            [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Callisto</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Home<span class="sr-only"></span></a>
            </li>
            <!--<li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Story board</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Database</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Query</a>
            </li>-->
        </ul>
    </links>
</mdb-navbar>

<app-dialog></app-dialog>

<!-- Main -->
<main>
    <div class="container" style="height:1300px;">
        <div class="row mt-5 pt-5">
            <!--<div class="col text-center">
                <h2>This Navbar is fixed</h2>
                <h5>It will always stay visible on the top, even when you scroll down</h5>
                <br>
                <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
            </div>-->

            <form class="col-sm-12 text-center">
                Type query here:<br>
                <input class= "form-control" name="queryInput" [(ngModel)]="queryModel">
                <br>
                Columns:<br>
                <input class= "form-control" name="colsInput" [(ngModel)]="colsModel">
                <br>
                Datasource:<br>
                <select class="form-control" [(ngModel)]="dbsModel.id" name="dbsSelect">
                    <option *ngFor="let db of dbs" value= {{db.id}}>{{db.name}}</option>
                </select>
                <br><br>
                <button class="btn btn-primary pull-right" type="run"
                       (click)="runQuery($event, queryModel, colsModel, dbsModel.id)">Run</button>
                <button class="btn btn-secondary pull-right" type="save"
                       (click)="saveQuery($event, queryModel, colsModel, dbsModel.id)">Save</button>
            </form>

        </div>
        Result:
        <div id="output"></div>
    </div>

</main>
