<div style="margin-top: 10px">
    <div class="row align-center">
        <mat-form-field class="col-sm-10">
            <input type="text" [formControl]="queryIdSearchField"
                   matInput placeholder="Search by query Id" [(ngModel)]="searchQueryId">
        </mat-form-field>
        <div class="col-sm-2">
            <button mat-stroked-button color="primary" class="float-right"
                    (click)="goToSaveQuery($event)">New query</button>
        </div>
    </div>

    <table class="table table-striped">
        <tbody *ngFor="let query of queries">
        <tr>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="col-md-12 col-lg-8">
                            {{query.query_id}}
                        </mat-panel-title>
                        <mat-panel-description class="col-md-12 col-lg-4">
                            Datastore: {{getDatastoreNameForId(query.datastore_id)}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="main-form-container" style="margin-top: 20px">
                        <b>Query</b>
                        <pre><code>{{query.query}}</code></pre>
                        <div class="mt-2 float-right">
                            <button mat-raised-button class="ml-2 float-right" color="primary"
                                    (click)="navigateToQueryComponent($event, query)">DETAILS
                            </button>
                            <button mat-button class="ml-2 btn-accent float-right"
                                    (click)="deleteQuery($event, query)">DELETE
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </tr>
        </tbody>
    </table>

    <div>
        <mat-paginator [length]="totalDataSize"
                       [pageIndex]="page"
                       [pageSize]="defaultPageSize"
                       [pageSizeOptions]="[5, 10, 25, 50]"
                       (page)="onPaginateChange($event)">
        </mat-paginator>
    </div>
</div>
